# Lists in Python

---

## Table of Contents
1. What are Lists?
2. Creating Lists
3. Accessing Elements (Indexing)
4. Slicing Lists
5. Modifying Lists
6. List Methods
7. List Operations
8. Nested Lists
9. List Comprehensions (Introduction)
10. Copying Lists
11. Key Points
12. Practice Exercises

---

## 1. What are Lists?

**Theory:**
- Lists are ordered, mutable collections of items
- Can contain items of different data types
- Defined using square brackets []
- Elements are separated by commas
- Lists are indexed starting from 0
- Lists can contain duplicates

---

## 2. Creating Lists

In [1]:
# Different ways to create lists

# Empty list
empty_list = []
empty_list2 = list()

# List with elements
numbers = [1, 2, 3, 4, 5]
fruits = ["apple", "banana", "cherry"]

# Mixed data types
mixed = [1, "hello", 3.14, True, None]

# List with duplicates
duplicates = [1, 2, 2, 3, 3, 3]

print(f"numbers: {numbers}")
print(f"fruits: {fruits}")
print(f"mixed: {mixed}")
print(f"duplicates: {duplicates}")

numbers: [1, 2, 3, 4, 5]
fruits: ['apple', 'banana', 'cherry']
mixed: [1, 'hello', 3.14, True, None]
duplicates: [1, 2, 2, 3, 3, 3]

In [2]:
# Creating lists from other iterables

# From string
chars = list("Python")
print(f"From string: {chars}")

# From range
nums = list(range(1, 6))
print(f"From range: {nums}")

# From tuple
from_tuple = list((1, 2, 3))
print(f"From tuple: {from_tuple}")

From string: ['P', 'y', 't', 'h', 'o', 'n']
From range: [1, 2, 3, 4, 5]
From tuple: [1, 2, 3]

In [3]:
# List repetition
zeros = [0] * 5
print(f"[0] * 5: {zeros}")

pattern = [1, 2] * 3
print(f"[1, 2] * 3: {pattern}")

[0] * 5: [0, 0, 0, 0, 0]
[1, 2] * 3: [1, 2, 1, 2, 1, 2]

---

## 3. Accessing Elements (Indexing)

```
List:     [10, 20, 30, 40, 50]
Index:      0   1   2   3   4
Negative:  -5  -4  -3  -2  -1
```

In [4]:
# Indexing
fruits = ["apple", "banana", "cherry", "date", "elderberry"]

# Positive indexing
print(f"First element (index 0): {fruits[0]}")
print(f"Third element (index 2): {fruits[2]}")
print(f"Last element (index 4): {fruits[4]}")

# Negative indexing
print(f"Last element (index -1): {fruits[-1]}")
print(f"Second last (index -2): {fruits[-2]}")
print(f"First element (index -5): {fruits[-5]}")

First element (index 0): apple
Third element (index 2): cherry
Last element (index 4): elderberry
Last element (index -1): elderberry
Second last (index -2): date
First element (index -5): apple

In [5]:
# IndexError
fruits = ["apple", "banana", "cherry"]

# This will raise IndexError
# print(fruits[10])  # IndexError: list index out of range

# Safe access using len()
index = 10
if index < len(fruits):
    print(fruits[index])
else:
    print(f"Index {index} is out of range")

Index 10 is out of range

---

## 4. Slicing Lists

**Syntax:** `list[start:stop:step]`
- start: Starting index (inclusive, default 0)
- stop: Ending index (exclusive, default len)
- step: Step/stride (default 1)

In [6]:
# Basic slicing
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

print(f"Original: {numbers}")
print(f"numbers[2:5]: {numbers[2:5]}")     # [2, 3, 4]
print(f"numbers[:4]: {numbers[:4]}")       # [0, 1, 2, 3]
print(f"numbers[6:]: {numbers[6:]}")       # [6, 7, 8, 9]
print(f"numbers[:]: {numbers[:]}")         # Full copy

Original: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[2:5]: [2, 3, 4]
numbers[:4]: [0, 1, 2, 3]
numbers[6:]: [6, 7, 8, 9]
numbers[:]: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
# Slicing with negative indices
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

print(f"numbers[-3:]: {numbers[-3:]}")     # [7, 8, 9] (last 3)
print(f"numbers[:-3]: {numbers[:-3]}")     # [0, 1, 2, 3, 4, 5, 6]
print(f"numbers[-5:-2]: {numbers[-5:-2]}") # [5, 6, 7]

numbers[-3:]: [7, 8, 9]
numbers[:-3]: [0, 1, 2, 3, 4, 5, 6]
numbers[-5:-2]: [5, 6, 7]

In [8]:
# Slicing with step
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

print(f"numbers[::2]: {numbers[::2]}")     # [0, 2, 4, 6, 8] (every 2nd)
print(f"numbers[1::2]: {numbers[1::2]}")   # [1, 3, 5, 7, 9] (odd indices)
print(f"numbers[::3]: {numbers[::3]}")     # [0, 3, 6, 9] (every 3rd)

numbers[::2]: [0, 2, 4, 6, 8]
numbers[1::2]: [1, 3, 5, 7, 9]
numbers[::3]: [0, 3, 6, 9]

In [9]:
# Reverse a list using slicing
numbers = [1, 2, 3, 4, 5]

reversed_list = numbers[::-1]
print(f"Reversed: {reversed_list}")

Reversed: [5, 4, 3, 2, 1]

---

## 5. Modifying Lists

Lists are mutable - they can be changed after creation.

In [10]:
# Modifying single element
fruits = ["apple", "banana", "cherry"]
print(f"Before: {fruits}")

fruits[1] = "blueberry"
print(f"After fruits[1] = 'blueberry': {fruits}")

Before: ['apple', 'banana', 'cherry']
After fruits[1] = 'blueberry': ['apple', 'blueberry', 'cherry']

In [11]:
# Modifying multiple elements using slicing
numbers = [1, 2, 3, 4, 5]
print(f"Before: {numbers}")

numbers[1:4] = [20, 30, 40]
print(f"After numbers[1:4] = [20, 30, 40]: {numbers}")

# Replace with different number of elements
numbers = [1, 2, 3, 4, 5]
numbers[1:4] = [200]  # Replace 3 elements with 1
print(f"After numbers[1:4] = [200]: {numbers}")

Before: [1, 2, 3, 4, 5]
After numbers[1:4] = [20, 30, 40]: [1, 20, 30, 40, 5]
After numbers[1:4] = [200]: [1, 200, 5]

In [12]:
# Adding elements
fruits = ["apple", "banana"]

# append() - add single element at end
fruits.append("cherry")
print(f"After append: {fruits}")

# insert() - add at specific position
fruits.insert(1, "blueberry")
print(f"After insert at index 1: {fruits}")

# extend() - add multiple elements
fruits.extend(["date", "elderberry"])
print(f"After extend: {fruits}")

After append: ['apple', 'banana', 'cherry']
After insert at index 1: ['apple', 'blueberry', 'banana', 'cherry']
After extend: ['apple', 'blueberry', 'banana', 'cherry', 'date', 'elderberry']

In [13]:
# Removing elements
fruits = ["apple", "banana", "cherry", "banana", "date"]
print(f"Original: {fruits}")

# remove() - remove first occurrence of value
fruits.remove("banana")
print(f"After remove('banana'): {fruits}")

# pop() - remove and return element at index (default: last)
removed = fruits.pop()
print(f"After pop(): {fruits}, removed: {removed}")

removed = fruits.pop(1)
print(f"After pop(1): {fruits}, removed: {removed}")

# del - delete by index or slice
numbers = [1, 2, 3, 4, 5]
del numbers[0]
print(f"After del numbers[0]: {numbers}")

del numbers[1:3]
print(f"After del numbers[1:3]: {numbers}")

Original: ['apple', 'banana', 'cherry', 'banana', 'date']
After remove('banana'): ['apple', 'cherry', 'banana', 'date']
After pop(): ['apple', 'cherry', 'banana'], removed: date
After pop(1): ['apple', 'banana'], removed: cherry
After del numbers[0]: [2, 3, 4, 5]
After del numbers[1:3]: [2, 5]

In [14]:
# clear() - remove all elements
numbers = [1, 2, 3, 4, 5]
numbers.clear()
print(f"After clear(): {numbers}")

After clear(): []

---

## 6. List Methods

| Method | Description |
|--------|-------------|
| append(x) | Add element at end |
| insert(i, x) | Insert at position i |
| extend(iterable) | Add all elements from iterable |
| remove(x) | Remove first occurrence of x |
| pop([i]) | Remove and return element at i |
| clear() | Remove all elements |
| index(x) | Return index of first x |
| count(x) | Count occurrences of x |
| sort() | Sort in place |
| reverse() | Reverse in place |
| copy() | Return shallow copy |

In [15]:
# index() and count()
numbers = [1, 2, 3, 2, 4, 2, 5]

# index() - find position of element
print(f"Index of 2: {numbers.index(2)}")         # First occurrence
print(f"Index of 2 after index 2: {numbers.index(2, 2)}")  # Search from index 2

# count() - count occurrences
print(f"Count of 2: {numbers.count(2)}")

Index of 2: 1
Index of 2 after index 2: 3
Count of 2: 3

In [16]:
# sort() - sorts in place (modifies original list)
numbers = [3, 1, 4, 1, 5, 9, 2, 6]
print(f"Before sort: {numbers}")

numbers.sort()
print(f"After sort(): {numbers}")

numbers.sort(reverse=True)
print(f"After sort(reverse=True): {numbers}")

Before sort: [3, 1, 4, 1, 5, 9, 2, 6]
After sort(): [1, 1, 2, 3, 4, 5, 6, 9]
After sort(reverse=True): [9, 6, 5, 4, 3, 2, 1, 1]

In [17]:
# sorted() - returns new sorted list (original unchanged)
numbers = [3, 1, 4, 1, 5, 9, 2, 6]

sorted_numbers = sorted(numbers)
print(f"Original: {numbers}")
print(f"Sorted: {sorted_numbers}")

Original: [3, 1, 4, 1, 5, 9, 2, 6]
Sorted: [1, 1, 2, 3, 4, 5, 6, 9]

In [18]:
# Sorting with key function
words = ["banana", "apple", "Cherry", "date"]

# Default sort (case-sensitive)
print(f"Default sort: {sorted(words)}")

# Case-insensitive sort
print(f"Case-insensitive: {sorted(words, key=str.lower)}")

# Sort by length
print(f"By length: {sorted(words, key=len)}")

Default sort: ['Cherry', 'apple', 'banana', 'date']
Case-insensitive: ['apple', 'banana', 'Cherry', 'date']
By length: ['date', 'apple', 'banana', 'Cherry']

In [19]:
# reverse() - reverses in place
numbers = [1, 2, 3, 4, 5]
print(f"Before: {numbers}")

numbers.reverse()
print(f"After reverse(): {numbers}")

# reversed() - returns iterator (original unchanged)
numbers = [1, 2, 3, 4, 5]
reversed_list = list(reversed(numbers))
print(f"Original: {numbers}")
print(f"Reversed: {reversed_list}")

Before: [1, 2, 3, 4, 5]
After reverse(): [5, 4, 3, 2, 1]
Original: [1, 2, 3, 4, 5]
Reversed: [5, 4, 3, 2, 1]

---

## 7. List Operations

In [20]:
# Concatenation (+)
list1 = [1, 2, 3]
list2 = [4, 5, 6]

combined = list1 + list2
print(f"list1 + list2: {combined}")

list1 + list2: [1, 2, 3, 4, 5, 6]

In [21]:
# Repetition (*)
numbers = [1, 2, 3]
repeated = numbers * 3
print(f"[1, 2, 3] * 3: {repeated}")

[1, 2, 3] * 3: [1, 2, 3, 1, 2, 3, 1, 2, 3]

In [22]:
# Membership (in, not in)
fruits = ["apple", "banana", "cherry"]

print(f"'apple' in fruits: {'apple' in fruits}")
print(f"'mango' in fruits: {'mango' in fruits}")
print(f"'mango' not in fruits: {'mango' not in fruits}")

'apple' in fruits: True
'mango' in fruits: False
'mango' not in fruits: True

In [23]:
# Length, min, max, sum
numbers = [5, 2, 8, 1, 9, 3]

print(f"Length: {len(numbers)}")
print(f"Min: {min(numbers)}")
print(f"Max: {max(numbers)}")
print(f"Sum: {sum(numbers)}")
print(f"Average: {sum(numbers) / len(numbers)}")

Length: 6
Min: 1
Max: 9
Sum: 28
Average: 4.666666666666667

In [24]:
# Iterating over lists
fruits = ["apple", "banana", "cherry"]

# Simple iteration
print("Simple iteration:")
for fruit in fruits:
    print(fruit)

# With index using enumerate
print("\nWith enumerate:")
for index, fruit in enumerate(fruits):
    print(f"{index}: {fruit}")

# Start enumerate from different number
print("\nEnumerate starting from 1:")
for index, fruit in enumerate(fruits, start=1):
    print(f"{index}: {fruit}")

Simple iteration:
apple
banana
cherry

With enumerate:
0: apple
1: banana
2: cherry

Enumerate starting from 1:
1: apple
2: banana
3: cherry

In [25]:
# Iterating over multiple lists with zip
names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 35]
cities = ["NYC", "LA", "Chicago"]

for name, age, city in zip(names, ages, cities):
    print(f"{name} is {age} years old from {city}")

Alice is 25 years old from NYC
Bob is 30 years old from LA
Charlie is 35 years old from Chicago

---

## 8. Nested Lists

Lists can contain other lists (2D arrays, matrices).

In [26]:
# Creating nested lists
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print("Matrix:")
for row in matrix:
    print(row)

Matrix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [27]:
# Accessing elements in nested lists
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

# Access row
print(f"First row: {matrix[0]}")

# Access specific element
print(f"Element at row 1, col 2: {matrix[1][2]}")  # 6

# Access last element
print(f"Last element: {matrix[-1][-1]}")  # 9

First row: [1, 2, 3]
Element at row 1, col 2: 6
Last element: 9

In [28]:
# Modifying nested lists
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

# Modify single element
matrix[1][1] = 50
print(f"After modifying [1][1]: {matrix[1]}")

# Modify entire row
matrix[0] = [10, 20, 30]
print(f"After modifying row 0: {matrix[0]}")

After modifying [1][1]: [4, 50, 6]
After modifying row 0: [10, 20, 30]

In [29]:
# Iterating over nested lists
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

# Iterate rows
for row in matrix:
    for element in row:
        print(element, end=" ")
    print()

# Get all elements as flat list
flat = [element for row in matrix for element in row]
print(f"Flattened: {flat}")

1 2 3
4 5 6
7 8 9
Flattened: [1, 2, 3, 4, 5, 6, 7, 8, 9]

---

## 9. List Comprehensions (Introduction)

A concise way to create lists.

**Syntax:** `[expression for item in iterable if condition]`

In [30]:
# Basic list comprehension

# Traditional way
squares = []
for x in range(1, 6):
    squares.append(x ** 2)
print(f"Traditional: {squares}")

# List comprehension
squares = [x ** 2 for x in range(1, 6)]
print(f"Comprehension: {squares}")

Traditional: [1, 4, 9, 16, 25]
Comprehension: [1, 4, 9, 16, 25]

In [31]:
# With condition (filtering)

# Even numbers only
evens = [x for x in range(1, 11) if x % 2 == 0]
print(f"Even numbers: {evens}")

# Numbers greater than 5
greater = [x for x in range(1, 11) if x > 5]
print(f"Greater than 5: {greater}")

Even numbers: [2, 4, 6, 8, 10]
Greater than 5: [6, 7, 8, 9, 10]

In [32]:
# With transformation
words = ["hello", "world", "python"]

# Uppercase
upper = [word.upper() for word in words]
print(f"Uppercase: {upper}")

# Lengths
lengths = [len(word) for word in words]
print(f"Lengths: {lengths}")

Uppercase: ['HELLO', 'WORLD', 'PYTHON']
Lengths: [5, 5, 6]

In [33]:
# Nested list comprehension

# Create 3x3 matrix
matrix = [[i + j*3 for i in range(1, 4)] for j in range(3)]
print("Matrix:")
for row in matrix:
    print(row)

# Flatten matrix
flat = [num for row in matrix for num in row]
print(f"Flattened: {flat}")

Matrix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
Flattened: [1, 2, 3, 4, 5, 6, 7, 8, 9]

---

## 10. Copying Lists

**Important:** Assignment creates a reference, not a copy!

In [34]:
# Reference vs Copy
original = [1, 2, 3]

# This creates a reference (NOT a copy)
reference = original
reference[0] = 100

print(f"Original: {original}")     # [100, 2, 3] - also changed!
print(f"Reference: {reference}")
print(f"Same object? {original is reference}")

Original: [100, 2, 3]
Reference: [100, 2, 3]
Same object? True

In [35]:
# Shallow copy methods
original = [1, 2, 3]

# Method 1: copy()
copy1 = original.copy()

# Method 2: list()
copy2 = list(original)

# Method 3: slicing
copy3 = original[:]

# Modify copy
copy1[0] = 100

print(f"Original: {original}")  # Unchanged
print(f"Copy1: {copy1}")        # Changed

Original: [1, 2, 3]
Copy1: [100, 2, 3]

In [36]:
# Shallow copy problem with nested lists
original = [[1, 2], [3, 4]]
shallow = original.copy()

# Modify inner list
shallow[0][0] = 100

print(f"Original: {original}")  # [[100, 2], [3, 4]] - also changed!
print(f"Shallow: {shallow}")

Original: [[100, 2], [3, 4]]
Shallow: [[100, 2], [3, 4]]

In [37]:
# Deep copy for nested lists
import copy

original = [[1, 2], [3, 4]]
deep = copy.deepcopy(original)

# Modify inner list
deep[0][0] = 100

print(f"Original: {original}")  # [[1, 2], [3, 4]] - unchanged
print(f"Deep copy: {deep}")     # [[100, 2], [3, 4]]

Original: [[1, 2], [3, 4]]
Deep copy: [[100, 2], [3, 4]]

---

## 11. Key Points

1. **Lists are mutable** - can be modified after creation
2. **Ordered and indexed** - elements have positions (0-based)
3. **Can contain mixed types** and duplicates
4. **Slicing**: `list[start:stop:step]` - stop is exclusive
5. **append()** adds one element, **extend()** adds multiple
6. **remove()** by value, **pop()** by index
7. **sort()** modifies in place, **sorted()** returns new list
8. **Assignment creates reference** - use copy() for independent copy
9. **Use deepcopy()** for nested lists
10. **List comprehensions** are concise and Pythonic
11. **enumerate()** for index + value, **zip()** for parallel iteration

---

## 12. Practice Exercises

In [38]:
# Exercise 1: Remove duplicates from a list while preserving order

numbers = [1, 2, 2, 3, 4, 4, 4, 5, 1, 2]

# Your code here:

In [39]:
# Exercise 2: Find the second largest number in a list

numbers = [5, 2, 8, 1, 9, 3, 9]

# Your code here:

In [40]:
# Exercise 3: Rotate list by n positions to the right
# Example: [1,2,3,4,5] rotated by 2 -> [4,5,1,2,3]

def rotate_list(lst, n):
    # Your code here:
    pass

# Test: rotate_list([1,2,3,4,5], 2) -> [4,5,1,2,3]

In [41]:
# Exercise 4: Flatten a nested list of any depth
# Example: [1, [2, [3, 4]], 5] -> [1, 2, 3, 4, 5]

nested = [1, [2, [3, 4]], 5, [6, 7]]

# Your code here:

In [42]:
# Exercise 5: Using list comprehension, create a list of tuples
# containing (number, square, cube) for numbers 1-5
# Expected: [(1, 1, 1), (2, 4, 8), (3, 9, 27), ...]

# Your code here:

---

## Solutions

In [43]:
# Solution 1:
numbers = [1, 2, 2, 3, 4, 4, 4, 5, 1, 2]

# Method 1: Using dict.fromkeys() (preserves order in Python 3.7+)
unique = list(dict.fromkeys(numbers))
print(f"Method 1: {unique}")

# Method 2: Manual approach
unique = []
for num in numbers:
    if num not in unique:
        unique.append(num)
print(f"Method 2: {unique}")

Method 1: [1, 2, 3, 4, 5]
Method 2: [1, 2, 3, 4, 5]

In [44]:
# Solution 2:
numbers = [5, 2, 8, 1, 9, 3, 9]

# Method 1: Sort and get second last unique
unique_sorted = sorted(set(numbers), reverse=True)
second_largest = unique_sorted[1]
print(f"Second largest: {second_largest}")

# Method 2: Without sorting
largest = max(numbers)
second = max(n for n in numbers if n != largest)
print(f"Second largest: {second}")

Second largest: 8
Second largest: 8

In [45]:
# Solution 3:
def rotate_list(lst, n):
    if not lst:
        return lst
    n = n % len(lst)  # Handle n > len(lst)
    return lst[-n:] + lst[:-n]

print(rotate_list([1, 2, 3, 4, 5], 2))  # [4, 5, 1, 2, 3]
print(rotate_list([1, 2, 3, 4, 5], 7))  # [4, 5, 1, 2, 3] (7 % 5 = 2)

[4, 5, 1, 2, 3]
[4, 5, 1, 2, 3]

In [46]:
# Solution 4:
def flatten(nested):
    result = []
    for item in nested:
        if isinstance(item, list):
            result.extend(flatten(item))  # Recursive call
        else:
            result.append(item)
    return result

nested = [1, [2, [3, 4]], 5, [6, 7]]
print(flatten(nested))  # [1, 2, 3, 4, 5, 6, 7]

[1, 2, 3, 4, 5, 6, 7]

In [47]:
# Solution 5:
result = [(n, n**2, n**3) for n in range(1, 6)]
print(result)
# [(1, 1, 1), (2, 4, 8), (3, 9, 27), (4, 16, 64), (5, 25, 125)]

[(1, 1, 1), (2, 4, 8), (3, 9, 27), (4, 16, 64), (5, 25, 125)]